.product-buy-buttons {
  .is-product-menu-slideout-open & {
    display: block;
  }

  .is-product-share-slideout-open & {
    display: none;
  }

  .is-item-added & {
    display: none;
  }

  .is-item-error & {
    display: none;
  }
}
