.breadcrumb {
  color: $secondary-color;

  .product-actions & {
    display: none;

    @include at-query($min, $post-break-medium) {
      @include vertical-align(absolute);
      display: block;
      float: left;
      max-width: 25%;
    }
  }
}
