.calculate-shipping-button {
  @extend %secondary-button;
  float: left;
  font-size: 12px;
  line-height: 50px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-transform: uppercase;
  width: 50%;

  @include at-query($min, $post-break-medium) {
    display: inline-block;
    float: none;
    vertical-align: middle;
    margin-left: 30px;
    min-width: 240px;
    width: auto;
  }
}
