.cart-footer {
  @include clearfix();

  @include element(note) {
    font-size: 100%;
    margin-bottom: 40px;
    min-height: 150px;
    width: 100%;

    @include at-query($min, $post-break-small) {
      width: 60%;
      float: left;
      margin-bottom: 0;
    }
  }

  @include element(subtotal) {
    @include clearfix();
    margin-top: 0;
    text-transform: uppercase;

    @include at-query($min, $post-break-small) {
      padding-left: 40px;
      float: left;
      width: 40%;
    }

    em {
      color: $secondary-color;
      float: left;
      font-style: normal;
    }

    span {
      float: right;
    }
  }
}
