.close-share {
  @extend %primary-button;
  @extend %product-buy-buttons__button;
  display: none;
  font-size: 12px;
  line-height: 50px;
  padding-bottom: 0;
  padding-top: 0;
  text-transform: uppercase;

  @include at-query($max, $break-medium) {
    width: 100%;
  }
}
