%add-to-bag {
  font-size: 12px;
}

%add-to-bag__price {
  display: block;
}

%add-to-bag__text {
  text-transform: uppercase;
}

%product-details {
  padding-left: 7%;
  padding-right: 7%;

  @include at-query($min, $post-break-small) {
    padding-left: 0;
    padding-right: 0;
  }
}

%product-heading {
  @include at-query($min, $post-break-small) {
    float: left;
    max-width: 600px;
    padding-right: 40px;
    width: 40%;
  }

  @include at-query($min, $post-break-medium) {
    padding-right: 60px;
  }
}

%product-menu-slideout__content {
  padding: 5px 7%;
}

%product-menu-buttons__element {
  float: left;
  width: 50%;
}

%table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

%table-cell {
  display: table-cell;
  vertical-align: middle;
}
