%add-to-bag {
  font-size: 12px;
}

%add-to-bag__price {
  display: block;
}

%add-to-bag__text {
  text-transform: uppercase;
}

%button {
  border-radius: $border-radius;
  border: 0px;
  display: block;
  font-weight: $header-font-weight;
  height: 50px;
  line-height: normal;
  outline: none;
  padding: 11px 20px;
  text-align: center;

  &:hover,
  &:active,
  &:focus {
    opacity: .8;
  }

  &[disabled],
  &.disabled {
    opacity: .5;
  }
}

%secondary-button {
  @extend %button;
  background: $border-color;
}

%primary-button {
  @extend %button;
  background: $primary-color;
  color: $background-color;
}

%product-menu {
  @include clearfix();
  position: relative;

  @include at-query($min, $post-break-medium) {
    padding: 25px 7%;
  }
}

%product-menu-container {
  background-color: $background-color;
  bottom: 0;
  box-shadow: inset 0 1px 0 0 $border-color;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 500;
}

%product-menu-slideout__content {
  padding: 5px 7%;
}

%product-menu-buttons__element {
  float: left;
  width: 50%;
}

%product-menu-buttons__button {
  @include at-query($min, $post-break-medium) {
    width: auto;
    min-width: 240px;
  }
}

%product-menu-buttons__quantity {
  @include at-query($min, $post-break-medium) {
    margin-left: 30px;
    width: 170px;
  }
}

%product-menu-slideout {
  @include prefixer(transition, max-height .3s linear, ms webkit moz spec);
  max-height: 0;
  overflow-y: hidden;

  @include at-query($min, $post-break-medium) {
    box-shadow: inset 0 -1px 0 0 $border-color;
  }
}

%product-menu-slideout__header {
  @extend %product-menu-slideout__content;
  @extend %table;
  border-bottom: 1px solid $border-color;
  font-size: 14px;
  margin-bottom: 20px;
  position: relative;
}

%product-menu-slideout-header__close {
  @extend %table-cell;
  height: 50px;
  line-height: 50px;
  text-align: right;
  width: 50px;

  &:hover {
    opacity: .6;
  }
}

%product-menu-slideout-header__title {
  @extend %table-cell;
  font-size: inherit;
  line-height: normal;
}

%table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

%table-cell {
  display: table-cell;
  vertical-align: middle;
}
