.product-menu-slideout {
  @extend %product-menu-slideout;

  @include element(content) {
    @extend %product-menu-slideout__content;
  }

  @include element(header) {
    @extend %product-menu-slideout__header;

    h6 {
      @extend %product-menu-slideout-header__title;

      small {
        color: $secondary-color;
        display: block;
        font-size: inherit;
        font-weight: normal;
      }
    }

    a {
      @extend %product-menu-slideout-header__close;
    }
  }
}
