.product-details {
  padding-left: 7%;
  padding-right: 7%;

  @include at-query($min, $post-break-small) {
    padding-left: 0;
  }

  @include at-query($min, $post-break-medium) {
    float: left;
    max-width: 600px;
    padding-left: 0;
    padding-right: 60px;
    width: 40%;
  }
}
