.product-cart-buttons {
  @include clearfix();
  display: none;

  @include element(continue-shopping) {
    @extend %secondary-button;
    @extend %product-buy-buttons__button;
    display: inline-block;
    font-size: 12px;
    line-height: 50px;
    padding-bottom: 0;
    padding-top: 0;
    text-transform: uppercase;
    float: left;
    width: 50%;

    @include at-query($min, $post-break-medium) {
      float: none;
      width: auto;
    }
  }

  @include element(view-cart) {
    @extend %primary-button;
    @extend %product-buy-buttons__button;
    display: inline-block;
    font-size: 12px;
    line-height: 50px;
    padding-bottom: 0;
    padding-top: 0;
    text-transform: uppercase;
    width: 50%;
    float: right;

    @include at-query($min, $post-break-medium) {
      margin-left: 30px;
      width: auto;
    }
  }
}
