.product-menu-buttons {
  @include clearfix();
  text-align: right;

  @include at-query($min, $post-break-medium) {
    float: right;
  }

  .product-menu--has-options & {
    display: none;
  }

  .product-menu--has-share & {
    @include at-query($max, $break-medium) {
      margin-left: 50px;
      width: calc(100% - 50px);
    }
  }

  > #Quantity {
    @extend %product-menu-buttons__element;
    @extend %product-menu-buttons__quantity;
    height: 50px;
  }

  .add-to-bag {
    @extend %product-menu-buttons__element;
    @extend %product-menu-buttons__button;
  }

  .js-qty {
    @extend %product-menu-buttons__element;
    @extend %product-menu-buttons__quantity;
  }

}
