.product-images {
  margin-bottom: 35px;
  padding-left: 7%;

  @include at-query($min, $post-break-small) {
    float: right;
    margin-bottom: 0;
    max-width: 48%;
    padding-left: 0;
  }

  @include at-query($min, $post-break-medium) {
    max-width: 50%;
  }

  @include at-query($min, $post-break-large) {
    max-width: 55%;
  }

  @include at-query($min, $post-break-extra-large) {
    max-width: 1000px;
    width: 60%;
  }

  .product-image {
    display: block;
    margin-bottom: 2px;
    margin-right: 1rem;
    width: 90%;

    @include at-query($min, $post-break-small) {
      margin-right: 0;
      width: 100%;
    }
  }
}
