.product-images {
  margin-bottom: 35px;
  padding-left: 7%;

  @include at-query($min, $post-break-small) {
    float: right;
    margin-bottom: 0;
    max-width: 48%;
    padding-left: 0;
  }

  @include at-query($min, $post-break-medium) {
    max-width: 50%;
  }

  @include at-query($min, $post-break-large) {
    max-width: 55%;
  }

  @include at-query($min, $post-break-extra-large) {
    max-width: 1000px;
    width: 60%;
  }

  @include element(item) {
    display: block;
    margin: 0 15px 2px 0;
    width: 90%;

    img {
      display: block;
      width: auto;
      height: auto;
      max-width: 100%
    }

    @include at-query($min, $post-break-small) {
      margin-right: 0;
      width: 100%;
    }
  }
}
