.radio-wrapper {
  margin-bottom: 20px;
  display: inline-block;
  padding-right: 30px;

  .single-option-radio__label {
    cursor: default;
    color: $text-color;
    font-size: 100%;
    display: block;
    font-style: normal;
    margin-bottom: 10px;
    text-transform: none;
  }
}
