.section-header {
  border-top: 1px solid rgba($secondary-color, 0.2);
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 80px;
}

.section-header__title {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}
