.select-options {
  @extend %add-to-bag;
  width: 100%;

  @include at-query($min, $post-break-medium) {
    float: right;
    margin-left: 30px;
    min-width: 240px;
    width: auto;
  }

  & + .product-menu-buttons {
    display: none;
  }
}

.select-options__price {
  @extend %add-to-bag__price;
}

.select-options__text {
  @extend %add-to-bag__text;
}
