.share-button {
  @extend %secondary-button;
  display: inline-block;
  float: left;
  line-height: 2.5;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 50px;

  @include at-query($min, $post-break-medium) {
    float: none;
  }

  @include at-query($min, $post-break-large) {
    padding-left: 40px;
    padding-right: 40px;
    width: auto;
  }

  @include element(icon) {
    font-size: 18px;
    color: $primary-color;

    @include at-query($min, $post-break-large) {
      display: none;
    }
  }

  @include element(text) {
    display: none;
    color: $primary-color;
    text-transform: uppercase;
    font-size: 12px;

    @include at-query($min, $post-break-large) {
      display: block;
    }
  }

}
