.spr-container {
  border-bottom-color: $border-color;
  border-top-color: $border-color;

  label[for] {
    display: block;
  }

  .spr-button-primary {
    @extend %close-notification-button;
    display: inline-block;
  }
}
