*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: $primary-color;
  text-decoration: none;
}

body {
  background-color: $background-color;
  color: $primary-color;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 1;
  padding-top: $header-height-mobile;

  @include at-query($min, $post-break-small) {
    padding-top: $header-height-tablet;
  }

  @include at-query($min, $post-break-medium) {
    padding-top: $header-height;
  }

}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

button,
input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: left;
}

html {
  min-height: 100%;
  position: relative;
}

input,
textarea {
  background: $background-color;
  border-radius: $border-radius;
  border: 1px solid $secondary-color;
  color: $secondary-color;
  font-family: $secondary-font;
  font-size: 16px;
  max-width: 100%;
  padding: 14px;
}


input[type="checkbox"],
input[type="radio"] {
  margin: 0 10px 0 0;
  padding: 0;
  width: auto;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
}

input[type="image"] {
  padding-left: 0;
  padding-right: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
}


input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

label {
  color: $secondary-color;
  font-size: 12px;
  margin-bottom: 1em;
  text-transform: uppercase;
}

label[for] {
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: {
    image: url('{{ "ico-select.svg" | asset_url }}');
    repeat: no-repeat;
    position: right 20px center;
    color: transparent;
  }
  border-radius: $border-radius;
  border: 1px solid $secondary-color;
  color: $secondary-color;
  font-family: $secondary-font;
  font-size: 14px;
  height: 60px;
  line-height: 2em;
  max-width: 100%;
  padding: 0 50px 0 20px;
}

select::-ms-expand {
  display: none;
}

textarea {
  min-height: 100px;
}
