.content {
  padding-top: 20px;

  @include at-query($min, $post-break-small) {
    padding-top: 40px;
  }

  @include at-query($min, $post-break-medium) {
    padding: 40px 0 calc(11% + 80px);
  }
}
