<?xml version="1.0" encoding="UTF-8"?>
<svg width="14px" height="9px" viewBox="0 0 14 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: Sketch 43.2 (39069) - http://www.bohemiancoding.com/sketch -->
  <title>Arrow Down</title>
  <desc>Created with Sketch.</desc>
  <defs></defs>
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <polygon id="Arrow-Down" fill="#A0A0A0" fill-rule="nonzero" points="6.8 8.1 0 1.75 1.36 0.3 6.74 5.3 11.97 0 13.39 1.4 6.79 8.1"></polygon>
  </g>
</svg>
